proyectoJava/build/
proyectoJava/dist/
proyectoJava/nbproject/
proyectoJava/test/
proyectoJava/build.xml
proyectoJava/manifest.mf
proyectoRuby/nbproject/
proyectoRuby/pkg/
proyectoRuby/spec/
proyectoRuby/test/
proyectoRuby/LICENSE
proyectoRuby/Rakefile
proyectoRuby/README